# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
* List Of Popular Languages 
* List Of Popular Libraries 
* Data Science Tools
* Evaluating Arithmetic Operations

Some of the popular languages that Data Scientists use are:
1. Python.
2. R. 
3. C.
4. Julia.
5. Java
6. SQL
7. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. PyTorch
4. NumPy
5. Matplotlib
6. Keras
7. Scikit
8. TensoorFlow

| Data Science Tools |
| ----------  | 
| Jupyter Notebooks  |
| Anaconda | 
| JupyterLab |
| GoogleColab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 60
min_to_hours = 200/60
min_to_hours

3.3333333333333335

## Authors
Kelly Serika